@font-face {
  font-family: "mona-sans";
  src: url("./https://github.com/dsilgadosalcedo/caoba-project/raw/main/public/fonts/MonaSans-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "mona-sans";
  src: url("./fonts/MonaSans-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  color: #222222;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 2.5rem 0;
}
header .caoba-logo {
  height: 4rem;
  display: none;
}
header nav {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}
header nav ul {
  display: flex;
  align-items: center;
  gap: 4.2rem;
  list-style: none;
  font-size: 1.4rem;
  font-weight: 600;
}
header nav ul li {
  display: none;
}
header nav ul .nav-button {
  display: flex;
  height: 4rem;
  align-items: center;
  text-align: center;
  font-weight: lighter;
  color: #ffffff;
  padding-inline: 2rem;
  background-color: #222;
  border-radius: 99999px;
}

main {
  margin-top: 1.8rem;
}

.description_section {
  display: grid;
  gap: 2.4rem;
  margin: 1.5rem 2.5rem 0;
  background-color: #ffffff;
}
.description_section__left {
  display: flex;
  justify-content: center;
  height: 90vh;
  flex-direction: column;
  gap: 4rem;
  position: relative;
}
.description_section__left .stamp {
  background-color: #ff9967;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 1.2rem;
  position: absolute;
  transform: rotate(-349deg);
  width: fit-content;
  right: 0;
  top: 5.4rem;
}
.description_section__left h1 {
  font-weight: 600;
  font-size: 5rem;
}
.description_section__left p {
  text-align: center;
  font-weight: 500;
  font-size: 2rem;
}
.description_section__left .partners {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
}
.description_section__left .partners p {
  font-size: 1.6rem;
  font-weight: 400;
}
.description_section__left .memojies {
  height: 3.4rem;
  object-fit: contain;
}
.description_section .hero-image {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.dark-section {
  position: relative;
  color: #fff;
}
.dark-section .background-container {
  height: 100vh;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
}
.dark-section .background-container .background {
  background-color: #222;
  width: 30rem;
  height: 30rem;
  border-radius: 30rem;
}
.dark-section .content {
  position: relative;
  z-index: 1;
  height: 100vh;
  margin-inline: 2.5rem;
}
.dark-section .content h1 {
  font-weight: 600;
  font-size: 5rem;
}

@media (min-width: 768px) {
  header {
    margin: 2.5rem 5rem 0;
  }
  header .menu-icon {
    display: none;
  }
  header .caoba-logo {
    display: block;
  }
  header nav ul li {
    display: block;
  }
  .description_section {
    margin-inline: 5rem;
    grid-template-columns: 1fr 1.1fr;
    gap: 0;
  }
  .description_section__left {
    height: auto;
    justify-content: end;
    padding-bottom: 4rem;
  }
  .description_section__left .stamp {
    font-weight: bold;
    font-size: 2rem;
    padding: 1.8rem 2.2rem;
    top: 8.2rem;
  }
  .description_section__left h1 {
    font-weight: 600;
    font-size: 7rem;
  }
  .description_section__left p {
    text-align: start;
    width: 40rem;
  }
  .description_section__left .partners {
    flex-direction: row;
  }
  .description_section .hero-image {
    height: 60rem;
    aspect-ratio: inherit;
  }
  .dark-section .background-container .background {
    width: 55rem;
    height: 34.6rem;
  }
  .dark-section .content {
    margin-inline: 5rem;
  }
}

/*# sourceMappingURL=index.css.map */
